{% extends "base.html" %}
{% load static %}
{% block title %}Блог{% endblock %}
{% block content %}

<section class="s-content">

    <div class="row">
        <div class="column large-12">
            <div class="s-content__entry-header">
                <h1 class="s-content__title">Блог</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">

            <div class="masonry">
                <div class="bricks-wrapper h-group">
                    <div class="grid-sizer"></div>

                    {% for post in posts %}
                    <article class="brick entry" data-aos="fade-up">
                        <div class="entry__thumb">
                            <a href="{{ post.get_absolute_url }}" class="thumb-link">
                                {% if post.cover %}
                                    <img src="{{ post.cover.url }}" alt="{{ post.title }}">
                                {% else %}
                                    <img src="{% static 'theme/images/sample-1050.jpg' %}" alt="{{ post.title }}">
                                {% endif %}
                            </a>
                        </div>

                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="entry__title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                                {% if post.published_at %}
                                    <div class="entry__meta">
                                        <span class="entry__meta-date">{{ post.published_at|date:"d.m.Y" }}</span>
                                    </div>
                                {% endif %}
                            </div>

                            {% if post.excerpt %}
                                <div class="entry__excerpt"><p>{{ post.excerpt|default:""|striptags|truncatechars:160 }}</p></div>
                            {% endif %}
                        </div>
                    </article>
                    {% empty %}
                        <p>Пока нет опубликованных постов. Создай пост в админке и поставь статус “Опубликовано”.</p>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
{% if is_paginated %}
<nav class="pgn">
    <ul>
        {% if page_obj.has_previous %}
            <li><a class="pgn__prev" href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
        {% endif %}

        <li><span class="pgn__num">Стр. {{ page_obj.number }} из {{ paginator.num_pages }}</span></li>

        {% if page_obj.has_next %}
            <li><a class="pgn__next" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

</section>

{% endblock %}
